<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%- include('../modules/link') %>

</head>

<style>

    @media screen and (max-width: 767px) {
        .ui.items > .item, .ui.items > .row > .item {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
            border-bottom: .2em solid rgba(0, 0, 0, .2);
            border-radius: .33em;
            -webkit-transition: -webkit-box-shadow .2s ease;
            -moz-transition: box-shadow .2s ease;
            transition: box-shadow .2s ease;
            padding: .5em;
        }

        .ui.items > .item > .content > .description {
            color: #999;
        }

        .name {
            font-size: 18px;
            font-weight: 700;
            color: #000;
        }

        .ui.items > .item > .content span.blue {
            color: #00B7FF;
        }

        .ui.items > .item > .content span.grade {
            color: #FF8c6B;
            font-size: 18px;
        }

        .ui.items > .item > .content span.green {
            color: #1fc231;
        }

        .ui.items > .item > .content span.orange {
            color: #FF8C6b;
        }

        .btn {
            float: right;
            margin-right: 1em;
        }

        .ui.items > .item .extra > button {
            margin: 0;
        }
        #reserve {
            margin-top: -0.8em;
        }

        
    }

</style>

<body>

<!--step-->
<div class="ui four steps">
    <div id="back" class="ui disabled step">
        主页
    </div>
    <div class="ui active step">
        预览
    </div>
    <div class="ui disabled step">
        确认
    </div>
    <div class="ui disabled step">
        完成
    </div>
</div>



<div class="ui stackable items">
    <div class="item">
        <div class="image">
            <img src="/images/bj-2.jpg">
            <a class="like ui corner label">
                <i class="like icon"></i>
            </a>
        </div>
        <div class="content">
            <div class="name">标准间</div>
            <p class="description">
                <span class="grade">4.6分</span> 146人点评 <span class="red">¥347</span>
                <button id="panorama" class="btn btn-primary">全景预览</button>
                <br>
                <span class="blue">镇江 京口区 梦溪路4号 ，近正东路。</span>
                <br>
                <span class="green">双床/不含早</span> <span class="blue">限时取消</span>
                <br>
                <button id="reserve" class="btn btn-info" onclick="return confirm('是否立刻预订此户型房间：是/否')">马上预定</button>
              
                
                <span class="orange">服务好 最新预定：半小时前 </span>

            </p>
            <div class="extra">
                199 喜欢
            </div>
        </div>
    </div>
</div>

<div class="ui stackable items">
    <div class="item">
        <div class="image">
            <img src="/images/dcf1.jpg">
            <a class="like ui corner label">
                <i class="like icon"></i>
            </a>
        </div>
        <div class="content">
            <div class="name">大床房A</div>
            <p class="description">
                <span class="grade">4.6分</span> 146人点评 <span class="red">¥566</span><!--<span class="green">标准间</span>-->
                <button id="panorama1" class="btn btn-primary">全景预览</button>
                <br>
                <span class="blue">镇江 京口区 梦溪路4号 ，近正东路。</span>
                <br>
                <span class="green">大床/有窗/不含早</span> <span class="blue">不可取消</span>
                <br>
                <button id="reserve" class="btn btn-info">马上预定</button>
                <span class="orange">服务好 最新预定：半小时前 </span>

            </p>
            <div class="extra">
                199 喜欢
            </div>
        </div>
    </div>
</div>

<div class="ui stackable items">
    <div class="item">
        <div class="image">
            <img src="/images/dcf2.jpg">
            <a class="like ui corner label">
                <i class="like icon"></i>
            </a>
        </div>
        <div class="content">
            <div class="name">大床房B</div>
            <p class="description">
                <span class="grade">4.6分</span> 146人点评 <span class="red">¥566</span><!--<span class="green">标准间</span>-->
                <button id="panorama" class="btn btn-primary">全景预览</button>
                <br>
                <span class="blue">镇江 京口区 梦溪路4号 ，近正东路。</span>
                <br>
                <span class="green">大床/有窗/不含早</span> <span class="blue">不可取消</span>
                <br>
                <button id="reserve" class="btn btn-info">马上预定</button>
                <span class="orange">服务好 最新预定：半小时前 </span>

            </p>
            <div class="extra">
                199 喜欢
            </div>
        </div>
    </div>
</div>

<div class="ui stackable items">
    <div class="item">
        <div class="image">
            <img src="/images/stf.jpg">
            <a class="like ui corner label">
                <i class="like icon"></i>
            </a>
        </div>
        <div class="content">
            <div class="name">生态套房</div>
            <p class="description">
                <span class="grade">4.6分</span> 146人点评 <span class="red">¥586</span><!--<span class="green">标准间</span>-->
                <button id="panorama" class="btn btn-primary">全景预览</button>
                <br>
                <span class="blue">镇江 京口区 梦溪路4号 ，近正东路。</span>
                <br>
                <span class="green">大床/有窗/不含早</span> <span class="blue">限时取消</span>
                <br>
                <button id="reserve" class="btn btn-info">马上预定</button>
                <span class="orange">服务好 最新预定：半小时前 </span>

            </p>
            <div class="extra">
                199 喜欢
            </div>
        </div>
    </div>

    <div class="ui stackable items">
        <div class="item">
            <div class="image">
                <img src="/images/ta.jpg">
                <a class="like ui corner label">
                    <i class="like icon"></i>
                </a>
            </div>
            <div class="content">
                <div class="name">豪华套房A</div>
                <p class="description">
                    <span class="grade">4.6分</span> 146人点评<span class="red">¥860</span> <!--<span class="green">标准间</span>-->
                    <button id="panorama" class="btn btn-primary">全景预览</button>
                    <br>
                    <span class="blue">镇江 京口区 梦溪路4号 ，近正东路。</span>
                    <br>
                    <span class="green">大床/有窗/含双早</span> <span class="blue">现已过可取消时间，不可取消</span>
                    <br>
                    <button id="reserve" class="btn btn-info">马上预定</button>
                    <span class="orange">服务好 最新预定：半小时前 </span>
    
                </p>
                <div class="extra">
                    199 喜欢
                </div>
            </div>
        </div>
    </div>

    <div class="ui stackable items">
        <div class="item">
            <div class="image">
                <img src="/images/tb.jpg">
                <a class="like ui corner label">
                    <i class="like icon"></i>
                </a>
            </div>
            <div class="content">
                <div class="name">豪华套房B</div>
                <p class="description">
                    <span class="grade">4.6分</span> 146人点评<span class="red">¥860</span> <!--<span class="green">标准间</span>-->
                    <button id="panorama" class="btn btn-primary">全景预览</button>
                    <br>
                    <span class="blue">镇江 京口区 梦溪路4号 ，近正东路。</span>
                    <br>
                    <span class="green">大床/有窗/含双早</span> <span class="blue">现已过可取消时间，不可取消</span>
                    <br>
                    <button id="reserve" class="btn btn-info">马上预定</button>
                    <span class="orange">服务好 最新预定：半小时前 </span>
    
                </p>
                <div class="extra">
                    199 喜欢
                </div>
            </div>
        </div>
    </div>

    <div class="ui stackable items">
        <div class="item">
            <div class="image">
                <img src="/images/hf.jpg">
                <a class="like ui corner label">
                    <i class="like icon"></i>
                </a>
            </div>
            <div class="content">
                <div class="name">豪华特套</div>
                <p class="description">
                    <span class="grade">4.6分</span> 146人点评 <span class="red">¥1067</span> <!--<span class="green">标准间</span>-->
                    <button id="panorama" class="btn btn-primary">全景预览</button>
                    <br>
                    <span class="blue">镇江 京口区 梦溪路4号 ，近正东路。</span>
                    <br>
                    <span class="green">大床/有窗/含双早</span> <span class="blue">现已过可取消时间，不可取消</span>
                    <br>
                    <button id="reserve" class="btn btn-info">马上预定</button>
                    <span class="orange">服务好 最新预定：半小时前 </span>
    
                </p>
                <div class="extra">
                    199 喜欢
                </div>
            </div>
        </div>
    </div>
    
</div>

<%- include('../footer') %>

</body>
<%- include('../modules/script') %>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="/js/date.js"></script>
<script type="text/javascript"></script>
<script>
$(function () {
    $('#panorama').click(function () {
        location.href = '/panorama';
    })
    $('#panorama1').onclick(function(){
        window.location.href="#panorama1.ejs";
    })
    
})

        $(function(){
                $("#reserve").click(function(){
                        var c = confirm('是/否');
                        if(c){
                                //
                        }
                });
        });

</script>
</html>